* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #FAF3DD;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    background-color: #5E6472;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #5E6472;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;

}
.msg-container{
    margin: 2rem;
    
}

#msg{
    background-color: #5E6472;
    color: #FAF3DD;
    font-size: 2rem;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
}